body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

li{
    padding: 15px;
    display: inline;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}
a:hover{
    color: aqua;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    font-weight: 550;
    word-spacing: 10px;
    padding: 30px 0;
}
h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding: 20px 0;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin: 5px;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}
b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: grey;
}
.nav-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 500;
    border-radius: 8px;
}
.nav-button:hover{
    background-color: gray;
}
.nav{
    background-image: url("../image/bootcamp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.navbar{
    display: flex;
}
.nav-logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding:15px 30px 20px 80px;
    padding-right: 20%;
}
.nav-link{
    text-align: center;
}

.home-write{
    width: 100%;
}
.home-text{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 200px;
}
.home-image{
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 40px;
}

.container{
    width: 70%;
    height: 500px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-bottom: 2px solid black;
    border-radius: 10px;
    margin: 3% auto;
    display: flex;
    text-align: center;
}
.col-1{
    width: 45%;
    background-image: url("../image/woman2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}
.col-2{
    width: 50%;
}
.col2-paragrap{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
}
.col2-button{
    padding: 15px 0;
}
.but1{
    background-color: rgb(6, 6, 80);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 0px;
    border-radius: 8px;
    margin: 0 10px;
}

.but2{
    background-color: lightskyblue;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 0px;
    border-radius: 8px;
}
.but3{
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 0px;
    border-radius: 8px;
    margin: 5px 10px;
}
.but4{
    background-color: rgb(92, 91, 91);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 0px;
    border-radius: 8px;
    padding-right: 20px;
}
.more{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    padding-top: 70px;
    padding-left: 30%;
    text-align: left;
}
.Testimonies{
    width: 80%;
    height: 600px;
    background-color: lightblue;
    border: 2px solid rgb(46, 46, 168);
    margin: auto;
    display: flex;
}

.testmoni-col1{
    width: 55%;
    padding-top: 4%;
    padding-left: 7%;
}
.testmoni-col2{
    width: 45%;
}
.testmonies-paragraph{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.texmoni-lastparagrap{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 22px;
    padding: 20px 0;
}
.cont1{
    width: 350px;
    height: 350px;
    background-color: black;
    margin-top: 50%;
    border-radius: 20px;
    z-index: 0px;
}
.testmoni-image{
    border-radius: 40px;
    padding: 20px 0px 0px 30px;

}
.update-form{
    margin: 50px auto;
    text-align: center;
}
input{
    position: relative;
    border-color: black;
    border-radius: 15px;
    height: 40px;
}
.subscribe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-bottom: 30px;
}
.subscribe-button{
    background-color: #000;
    color: #fff;
    border-color: #000;
    border-radius: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    left: 705px;
    margin-top: 3px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(4, 4, 100);
    display: flex;
}
.footer-logo{
    color: #fff;
    margin: 50px;
}
.footer-paragraph{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer-links{
    margin: 70px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 35px;
}
.footer-Contact{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 80px;
}

/* BootCamp Page design */
.naviga{
    background-color: rgb(3, 3, 99);
    height: 70px;
}
.bootpage-container{
    width: 100%;
    height: 600px;
    background-color: rgb(69, 69, 218);
    padding-top: 50px;
}
.min-col{
    width: 40%;
    height: 500px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
}
.boot-input{
    height: 35px;
    margin-top: 50px;
    border-radius: 8px;
    position: relative;
}
.boot-button{
    background-color: blue;
    color: #fff;
    border-radius: 8px;
    border-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    
}
.boot-col2{
    margin-top: 60px;

}
.boot-paragraph{
    width: 60%;
    height: 50px;
    background-color: lightblue;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px auto;
    
    margin-right: 150px;
}
.boot-p{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}